#workingArea {
    padding: 5% 20%;
}


#tools {
    padding: 1%;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
    
    display: flex;
    justify-content: space-evenly;
}

.toolButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.5s ease 0s;
}
.toolButton:hover {
    background-color: rgb(221, 221, 221);
}

#canvas {
    min-height: 800px;
    padding: 10px;

    box-shadow: 0 10px 10px grey;
    transition: box-shadow 0.5s ease 0s;
}

#canvas:hover {
    box-shadow: 0 10px 15px grey;
}

#canvas:focus {
    box-shadow: 0 10px 15px grey;
    outline: none;
}


#navigationPanel {
    width: 150px;
}


.category {
    margin-bottom: 15%;
}

.categoryButton {
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 5%;
    font-weight: bold;

    transition: background-color 0.5s ease 0s;
}
.categoryButton:hover {
    background-color: rgb(232, 232, 232);
}

.conspects {
    width: 90%;
    margin: 5% 0 10% 10%;
}

.conspect {
    list-style: none;
    margin-bottom: 5%;
    direction: rtl;
}

.conspectButton {
    text-align: right;
    background-color: transparent;
    border: none;

    transition: background-color 0.5s ease 0s;
}
.conspectButton:hover {
    background-color: rgb(232, 232, 232);
}