#workingArea {
    padding: 5% 20%;
}


#tools {
    padding: 1%;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
    
    display: flex;
    justify-content: space-evenly;
}

.toolButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.5s ease 0s;
}
.toolButton:hover {
    background-color: rgb(221, 221, 221);
}

#canvas {
    min-height: 800px;
    padding: 10px;

    box-shadow: 0 10px 10px grey;
    transition: box-shadow 0.5s ease 0s;
}

#canvas:hover {
    box-shadow: 0 10px 15px grey;
}

#canvas:focus {
    box-shadow: 0 10px 15px grey;
    outline: none;
}


#navigationPanel {
    width: 20%;
}

.category {
    margin-bottom: 5%;
    border-bottom: 1px solid grey;
}

.categoryTitle {
    display: flex;
    justify-content: space-between;
}

.categoryButton {
    text-align: left;
    font-size: 15pt;
    background-color: transparent;
    border: none;
    padding: 5%;
    font-weight: bold;

    transition: background-color 0.5s ease 0s;
}
.categoryButton:hover {
    background-color: rgb(232, 232, 232);
}

.deleteCategoryButton {
    background-color: transparent;
    border: none;
    padding: 5%;
    color: rgb(255, 76, 76);

    transition: background-color 0.5s ease 0s;
}
.deleteCategoryButton:hover {
    background-color: rgb(232, 232, 232);
}

.conspects {
    width: 90%;
    margin: 2% 0 5% 5%;
}

.conspect {
    list-style: none;
    margin-bottom: 1%;
    direction: rtl;
}

.conspectButton {
    text-align: right;
    background-color: transparent;
    border: none;

    transition: background-color 0.5s ease 0s;
}
.conspectButton:hover {
    background-color: rgb(232, 232, 232);
}


.addButton {
    width: 80%;
    margin: 0 10%;
    background-color: transparent;
    color: rgba(108, 108, 108, 0.475);
    border: none;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s ease 0s;
}
.addButton > i {
    margin-right: 10px;
}
.addButton:hover {
    background-color: rgb(232, 232, 232);
}



.addCategory {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#addCategory > input {
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 5px;
}
#addCategory > input:focus {
    background-color: rgb(232, 232, 232);
    outline: none;
}

#addCategoryButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
}

.addCategoryButton {
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 5px;

    transition: background-color 0.5s ease 0s;
}
.addCategoryButton:hover {
    background-color: rgb(232, 232, 232);
}